body {
	background-color: #FFFFFF;
	font-family: verdana, arial, sans-serif, serif;
	font-size:10px;
	color:#000000
	margin: 5px 10px;
}

textarea {
	background-color: #FFFFFF; 
	font-family: monospace;
	font-size: 12px;
	color:#000000;
	border:1px solid #000000;
}

table.return {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: #000000;
	border-collapse: separate;
	background-color: #FFFFFF;
}

table.return th {
	border-width: 1px solid green;
	padding: 1px;
	-moz-border-radius: 3px;
}

table.return td {
	border-width: 1px solid green;
	padding: 1px;
	-moz-border-radius: 3px;

	font-family: verdana, arial, sans-serif, serif;
	font-size:10px;
	color:#000000
	margin: 5px 10px;
}

pre.return {
	font-family: monospace;
	font-size: 12px;
	width: 800px;
	height: 480px;
	background-color: #000000;
	color: #33FF99;
	overflow: auto
}
