$def with (cmd, exec_returns)

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
		<link rel=stylesheet href="/static/pytrol.css" TYPE="text/css">
	</head>

	<body>
		<table align="center" class="return">
			<tr>
				<td width="100%" nowrap="yes">Command: $cmd</td>
			</tr>
		</table>
		<br>

		$for host in exec_returns:
			<table align="center" class="return">
				<tr>
					<td width="70%" nowrap="yes">Hostname: $host </td>
					<td width="30%" nowrap="yes" class="status">Status: $exec_returns[host][0] </td>
				</tr>
				$if exec_returns[host][1]:
					<tr>
						<td width="100%" nowrap="yes" colspan=2 class="stdout">
							STDOUT:
						</td>
					</tr>
					<tr>
						<td width="100%" nowrap="yes" colspan=2>
							<pre class="return">$exec_returns[host][1]</pre>
						</td>
					</tr>
				$if exec_returns[host][2]:
					<tr>
						<td width="100%" nowrap="yes" colspan=2 class="stderr">
							STDERR:
						</td>
					</tr>
					<tr>
						<td width="100%" nowrap="yes" colspan=2 class="stderr">
							<pre class="return">$exec_returns[host][2]</pre>
						</td>
					</tr>
			</table>
			<br><br>
	</body>
</html>
